@using WebUI.Models
@using WebUI.HtmlHelpers;

@model  ClothesListViewModel

@{
    ViewBag.Title = "MU Store";
}

@if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Products" && Request.Path != "/Souvenirs")
{
    <fieldset class="j-list" id="wbsize_list_left" data-keypath="filters.4" style="display:none">
        @foreach (var item in Model.GetAllSizes(Model.Clothes.Select(y => y.Sizes)))
        {
            <label class="container">
                @item
                <input type="checkbox" name="check" value="@item">
                <span class="checkmark"></span>
            </label>
        }
    </fieldset>
}


@if (Model.Clothes.Count() > 0)
{
    <div style="display:flex; justify-content:space-between">
        @if (Model.CurrentCategory != null && @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() != "Navigation")
        {
            <div style="display:flex; margin-top:10px;font-size:20px;font-weight:800; align-self:flex-start">@Model.CurrentCategory</div>
        }
        else if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Navigation")
        {
            <div style="display:flex">
                <div style="display:flex; margin-top:10px;font-size:20px;font-weight:800; align-self:flex-start">@ViewData["searchString"]</div>
                <div style="padding-left:20px; margin-top:16px;">@Model.Clothes.Count() Products</div>
            </div>
        }

        <div class="sortingDropDown" style=" margin-bottom:40px; align-self:flex-end">
            <select class="drop-down" id="sortOrder" name="sortOrder">
                <option>Sort By</option>
                <option value="DESC">Price High to Low</option>
                <option value="ASC">Price Low to High</option>
            </select>
        </div>
    </div>
    <div id="content" style="display:flex; flex-wrap:wrap; justify-content:end; width:1020px; border-top: 1px solid lightgray; padding-top:10px">
        @foreach (var item in Model.Clothes)
        {
            if (item.Images.Any(x => x.ClothesId == item.Article))
            {
                @Html.Partial("ClothesSummary", item);
            }
        }
    </div>
    <script>
        let startRangeOfPrice = 'input[name="startN"]';
        let endRangeOfPrice = 'input[name="endN"]';
        let minCategoryPrice = @Model.Clothes.Select(x => x.Price).Min();
        let maxCategoryPrice = @Model.Clothes.Select(x => x.Price).Max();

        $(startRangeOfPrice).attr("min", minCategoryPrice);
        $(startRangeOfPrice).attr("max", maxCategoryPrice);
        $(startRangeOfPrice).attr("value", minCategoryPrice);

        $(endRangeOfPrice).attr("max", maxCategoryPrice);
        $(endRangeOfPrice).attr("min", minCategoryPrice);
        $(endRangeOfPrice).attr("value", maxCategoryPrice);

        let divsToSort = [...document.querySelectorAll('#content > div')];

        $('#wbsize_list_left').insertAfter($('div.selectorsblock.custom-scroll.scrollbar-inner.scroll-content'));
        $('#wbsize_list_left').show();


        $(document).ready(function () {
            $('input[type="number"]').on('focusout', function () {
                v = parseInt($(this).val());
                min = parseInt($(this).attr('min'));
                max = parseInt($(this).attr('max'));

                if (v < min) {
                    $(this).val(min);
                } else if (v > max) {
                    $(this).val(max);
                }

                if (+$(startRangeOfPrice).val() > +$(endRangeOfPrice).val()) {
                    $(endRangeOfPrice).val($(startRangeOfPrice).val());
                }

                if (+$(startRangeOfPrice).val() !== +minCategoryPrice ||
                    +$(endRangeOfPrice).val() !== +maxCategoryPrice) {
                    $('span.reset[data-type="price"]').show()
                }

                if (+$(startRangeOfPrice).val() === +minCategoryPrice &&
                    +$(endRangeOfPrice).val() === +maxCategoryPrice) {
                    $('span.reset[data-type="price"]').hide();
                }

            })

            $('span.reset[data-type="price"]').on('click', function () {
                $(startRangeOfPrice).val(minCategoryPrice);
                $(endRangeOfPrice).val(maxCategoryPrice);
                $("div.selectorsblock.range").focusout();
                $(this).hide();
            })


            $("div.selectorsblock.range").focusout(function () {
                let minPrice = +$(startRangeOfPrice).val();
                let maxPrice = +$(endRangeOfPrice).val();
                for (let item of divsToSort) {
                    let price = parseInt(item.querySelector('.price').innerText.replace("$", "").trim());
                    if (price > +maxPrice || price < +minPrice) {
                        $(item).hide();
                    }
                    else {
                        $(item).show();
                    }
                }
            });
        })
    </script>
}
else
{
    <style>
        #categories {
            display: none;
        }

        .row.panel {
            justify-content: flex-end;
        }

        .rowContent {
            justify-content: center;
        }
    </style>
    <div style="display:flex">
        <div>
            <img src="@Url.Content("~/Content/Images/sad.png")" width="222" height="162" />
        </div>

        <section id="browseResults">
            <div class="emptySearch" style="">
                <h4 style="font-weight:600; font-size:16px">We're sorry but no matches have been found</h4>
                <h5>0 products found</h5>
                <p>Your search for "<b>@ViewData["searchString"]</b>" did not match any products. Please review our suggestions and try searching again:</p>
                <ul>
                    <li style="list-style-type:disc">Check for typos or spelling errors</li>
                    <li style="list-style-type:disc">Try different words</li>
                    <li style="list-style-type:disc">Broaden your search by using fewer words</li>
                </ul>
            </div>
        </section>
    </div>
}

<div id="sizeModal" class="modal">
    <div class="modal-content" style="width:400px">
        <div class="modal-header">
            <span id="close" class="close">&times;</span>
            <h2>Choose size</h2>
        </div>
        <div class="modal-body" style="display:flex; justify-content:center; align-items:center">
        </div>
        <div class="modal-footer" style="display:flex; justify-content:center; align-items:center">
            <img src=@Url.Content("~/Content/Images/ManU-fanatics.png") width="50" height="50" />
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("select.drop-down").change(function () {
            var selectedSortDirection = $(this).children("option:selected").val();
            switch (selectedSortDirection) {
                case ('DESC'): {
                    sort("desc");
                    break;
                }
                case ('ASC'): {
                    sort("asc");
                    break;
                }
            }
        });
    });

    function sort(sortOrder) {
        let content = document.querySelector('#content');
        let divsToSort = [...document.querySelectorAll('#content > div')];
        let desc;

        if (sortOrder === 'desc') {
            desc = true;
        }

        divsToSort.sort(function (a, b) {
            na = parseInt(a.querySelector('.price').innerText.replace("$", "").trim());
            nb = parseInt(b.querySelector('.price').innerText.replace("$", "").trim());
            return desc ? (nb - na) : (na - nb);
        });

        divsToSort.forEach(el => content.appendChild(el));
    }
</script>

<style>
    .overlay {
        background-color: rgba(0,0,0,.5);
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1000;
    }

    #Spinner {
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
    }
</style>





