@model WebUI.Models.BasketIndexViewModel

@{
    ViewBag.Title = "Basket";
}
<script src="~/Scripts/ChangeQuantityClothes.js"></script>
<link href="~/Content/style.css" rel="stylesheet" />
<script>
    $(function () {
        $("a.removeClothesWithSize").click(function (e) {
            e.preventDefault();

            let article = $(this).data("id");
            let size = $(this).data("content");
            let url = "/Basket/RemoveFromBasketWithSize";

            $.get(url, { clothesId: article, size: size }, function () {
                location.reload();
            });
        });
    });

    $(function () {
        $("a.removeClothesWithoutSize").click(function (e) {
            e.preventDefault();

            let article = $(this).data("id");
            let url = "/Basket/RemoveFromBasket";

            $.get(url, { clothesId: article }, function () {
                location.reload();
            });
        });
    });
</script>

<style>
    #basketTable td {
        vertical-align: middle;
    }

    .col-xs-8 {
        /*flex-direction: column;*/
        width: max-content;
    }
    .orderSummaryHeader {
        border-bottom: 1px solid #d9d9d9;
        padding: 20px 10px;
        margin: 0 15px;
        font-size: 20px;
        font-weight:600;
    }
    .content {
        background-color: #f1f1f1;
    }
    .row.panel {
        background-color: #f1f1f1;
        justify-content:center;
    }
    .table {
        background-color:white;
    }
    .total.price {
        font-weight: 700;
        font-size: 16px;
        margin-bottom:15px;
    }
</style>

@if (Model.Basket.Lines.Count() > 0)
{
<div style="display:flex; flex-direction:column">
    <div style="display: flex">
        <table class="table" id="basketTable" style="width:650px">
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th></th>
                    <th>Product</th>
                    <th class="text-right">Item Cost</th>
                    <th class="text-right">Total cost</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.Basket.Lines)
                {
                    if (line.Size != null)
                    {
                        <tr style="font-weight:700; font-size:12px">
                            <td class="text-left" style="font-size:14px" id="quantity@(line.Wear.Article)">@line.Quantity </td>
                            <td>
                                <a href="#" class="btn btn-icon" id="incClothes" data-id="@line.Wear.Article" style="color:black; font-size:20px; text-decoration:none">+</a> <br />
                                <a href="#" id="decClothes" class="btn btn-icon" data-id="@line.Wear.Article" style="color:black; font-size:20px; padding-left:14.5px; padding-right:14.5px; text-decoration:none">-</a> <br />
                                <a href="#" class="removeClothesWithSize" data-id="@line.Wear.Article" data-content="@line.Size" style="color:black; text-decoration:none">Remove</a>
                            </td>
                            @{
                                var str = line.Wear.Images.Where(x => x.Wear.Article == line.Wear.Article).Select(x => x.ImageFile).FirstOrDefault();
                                var base64 = Convert.ToBase64String(str);
                                var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                            }
                            <td class="text-left">
                                <a href="/Clothes/clothes-details?name=@line.Wear.Name">
                                    <img src="@imgSrc" style="height:90px; width:90px" />
                                </a> 
                                <br> @line.Wear.Name 
                                <br>Product code: @line.Wear.Article 
                                <br>Size: @line.Size 
                            </td>
                            <td class="text-right" style="font-size:14px">@line.Wear.Price.ToString("# $")</td>
                            <td class="text-right" id="cost@(line.Wear.Article)" style="font-size:14px">
                                @((line.Quantity * line.Wear.Price).ToString("# $"))
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr style="font-weight:700; font-size:12px">
                            <td class="text-left" style="font-size:14px" id="quantity@(line.Wear.Article)">@line.Quantity </td>
                            <td>
                                <a href="#" class="btn btn-icon" id="incClothes" data-id="@line.Wear.Article" style="color:black; font-size:20px; text-decoration:none">+</a> <br />
                                <a href="#" id="decClothes" class="btn btn-icon" data-id="@line.Wear.Article" style="color:black; font-size:20px; padding-left:14.5px; padding-right:14.5px; text-decoration:none">-</a> <br />
                                <a href="#" class="removeClothesWithoutSize" data-id="@line.Wear.Article" style="color:black; text-decoration:none">Remove</a>
                            </td>
                            @{
                                var str = line.Wear.Images.Where(x => x.Wear.Article == line.Wear.Article).Select(x => x.ImageFile).FirstOrDefault();
                                var base64 = Convert.ToBase64String(str);
                                var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                            }
                            <td class="text-left"><a href="/Clothes/clothes-details?name=@line.Wear.Name"><img src="@imgSrc" style="height:90px; width:90px" /></a> <br> @line.Wear.Name <br>Product code: @line.Wear.Article </td>
                            <td class="text-right" style="font-size:14px">@line.Wear.Price.ToString("# $")</td>
                            <td class="text-right" id="cost@(line.Wear.Article)" style="font-size:14px">
                                @((line.Quantity * line.Wear.Price).ToString("# $"))
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <aside id="basketSidePanel" style="position: relative; margin-left:10px; width:306px">
            <div class="basketSummary" sticky-scroll="" style="background-color:#fff; height:180px; width:306px">
                <h3 class="orderSummaryHeader">Order Summary</h3>
                <div class="orderSummaryContent" style="padding:20px 26px">
                    <div class="total price">
                        <span>Total:</span>
                        <span class="price" style="float:right">@Model.Basket.ComputeTotalValue().ToString("# $")</span>
                    </div>
                    <div class="payment">
                        <button type="submit" class="btn btn-success" style="width:100%; border-radius:0; background-color:#00a92c; width:250px; height:50px; font-size:16px; font-weight:600;">
                            CHECKOUT SECURELY
                        </button>
                    </div>
                </div>
            </div>
        </aside>
    </div>

    <div class="continueShoppingBtn">
        <a class="btn btn-primary" style="background-color: #b61c1c; border-color: #b61c1c; width: 300px; height: 50px;border-radius: 0;text-align: center;vertical-align: middle;text-transform: uppercase;font-size: 22px; justify-content:flex-start; font-weight:600;" href="@Model.ReturnUrl">Continue Shopping</a>
    </div>
</div>
}
else
{
<h2>Nothing in your basket yet.</h2>
<h3>The basket is waiting to be filled.</h3>
<h4>Have a nice shopping!</h4>

<div class="text-left">
    <a class="btn btn-primary" style="background-color: #b61c1c; border-color: #b61c1c; width: 300px; height: 50px;border-radius: 0;text-align: center;vertical-align: middle;text-transform: uppercase;font-size: 22px;font-weight:600;" href="@Model.ReturnUrl">Continue Shopping</a>
</div>

<style>
    .col-xs-8 {
        flex-direction:column;
    }
</style>
}
