@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/styles.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Modal.html">
    <script src="~/Scripts/ModalWindow.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/Scripts/ChangeQuantityClothes.js"></script>
    <script src="~/Scripts/ClothesDatails.js"></script>
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/Images/manutdlogo.png")">
    <style>
        #logoutForm {
            height: 16px;
        }

        .sortingDropDown {
            flex: 0 0 auto;
            margin: auto 0;
            font-weight: 700;
        }

        .drop-down {
            height: 35px;
            font-size: 14px;
            color: #000;
            height: 42px;
            border: 1px solid #000;
            border-radius: 0;
            width: 100%;
            padding: 5px 10px;
            box-shadow: none;
            font-family: Arial,Helvetica,sans-serif;
        }

        .layout-row > * {
            flex: 1 1;
            min-width: 0;
        }
        .layout-row {
            display: flex;
            flex-wrap: wrap;
            max-width: 100em;
            margin: 0 auto;
        }
    </style>

    <title>@ViewBag.Title</title>
</head>

<body>
    <header class="header">
        <div style="background-color:#b61c1c; height:20px">

            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("Logout", "Account", new { returnUrl = Request.Url.PathAndQuery }, FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()

                    <ul style="display:flex; justify-content: center; margin: 0px 0px 0px 0px; height:20px; padding-left:0">
                        <li style="margin-right:15px">
                            <img src="@Url.Content("~/Content/Images/user.png")" style="width:15px; height:15px;" />
                            @Html.ActionLink(User.Identity.GetUserName(), "Account", "Account", routeValues: null, htmlAttributes: new { id = "helloLink" })
                        </li>
                        <li style="background-color: black;padding-left: 10px;padding-right: 10px">
                            <a class="logOut" href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                        </li>
                        <il class="checkout" style="display:flex;">
                            @Html.Action("Summary", "Basket")
                        </il>
                    </ul>

                }
            }
            else
            {
                <ul style="display: flex; justify-content: center; margin: 0px 0px 0px 0px; height: 20px; padding-left: 0">
                    <li style="padding-right:10px;padding-left:10px">@Html.ActionLink("Register", "Register", "Account", new { returnUrl = Request.Url.PathAndQuery }, htmlAttributes: new { id = "registerLink" })</li>
                    <li style="color:white">/</li>
                    <li style="padding-left:10px; padding-right:10px">@Html.ActionLink("Log in", "Login", "Account", new { returnUrl = Request.Url.PathAndQuery }, htmlAttributes: new { id = "loginLink" })</li>
                    <il class="checkout" style="display:flex;">
                        @Html.Action("Summary", "Basket")
                    </il>
                </ul>
            }

        </div>

        <div class="headerContent" style="display:flex; background:#b61c1c">
            <div class="image">
                <a href="https://www.adidas.com/us" target="_blank"><img src=@Url.Content("~/Content/Images/adidasLogo.png") alt="" /></a>
            </div>

            <div class="caption">
                <a href="@Url.Action("List", "Products")">
                    <img src="@Url.Content("~/Content/Images/ud_logo.png")">
                </a>
            </div>

            <div id="search" style="margin-top:20px; height:31px; display:flex">
                @using (Html.BeginForm("Search", "Navigation", FormMethod.Post, new { id = "searchForm" }))
                {
                    <input id="searchString" name="searchString" type="text" placeholder="Search" style="outline:none; width:250px; height:31px">
                    <button id="searchBtn" type="submit" style="background-image: url('@Url.Content("~/Content/Images/white.png")'); width:31px; height:31px; outline:none; border:none; background-repeat:no-repeat; background-size:100%; transform:scale(-1,1)" />
                }
                <style>
                    #searchForm {
                        display: flex;
                    }
                </style>
            </div>
            <div class="image">
                <a href="https://www.aon.com/home/index.html" target="_blank"><img src=@Url.Content("~/Content/Images/aonLogo.png") alt="" /></a>
            </div>
        </div>
    </header>

    <div class="menu" style="background:black">
        <ul class="topLevelMenu">
            @Html.Action("Menu", "Navigation")
        </ul>
    </div>

    <content class="content">
        <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="@Url.Content("~/Content/Images/carousel_kitR.jpg")">
                </div>
                <div class="item">
                    <img src="@Url.Content("~/Content/Images/d_carousel_31241a.jpg")">
                </div>

                <div class="item">
                    <img src="@Url.Content("~/Content/Images/D_carousel_kitsale.jpg")" />
                </div>
                <div class="item">
                    <img src="@Url.Content("~/Content/Images/d_carousel_1920x400_BLM_Printing_V2.jpg")" />
                </div>
            </div>

            <a class="left carousel-control" href="#carousel" role="button" data-co data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" style="color:#333"></span>
            </a>
            <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" style="color:#333"></span>
            </a>
        </div>

        <div class="layout-row" style="display: flex;flex-wrap: wrap;max-width: 100em;margin: 0 auto;">
            <div class="pl-clickable-image">
                <a href="@Url.Action("new-training", "Products", new { name = "Manchester United Old Trafford Lego Stadium" })">
                    <div class="responsive-image">
                        <img src="@Url.Content("~/Content/Images/a_spot_training_en.jpg")" alt="Gifts &amp; Accessories. Shop Now." class="" loading="auto" style="width:100%">
                    </div>
                </a>
            </div>
        </div>

        <div class="layout-row" style="display: flex;flex-wrap: wrap;max-width: 100em; margin: 0 auto;">
            <div class="pl-clickable-image">
                <a href="@Url.Action("home-kit", "Products", new { name = "Manchester United Old Trafford Lego Stadium" })">
                    <div class="responsive-image">
                        <img src="@Url.Content("~/Content/Images/a_spot_home_kit_uk.jpg")" alt="Gifts &amp; Accessories. Shop Now." class="" loading="auto" style="width:100%">
                    </div>
                </a>
            </div>
        </div>

        <div class="layout-row">
            <div class="layout-column large-6 medium-6 small-12">
                <div class="pl-clickable-image">
                    <a href="@Url.Action("new-arrivals", "Products")">
                        <div class="responsive-image">
                            <img src="@Url.Content("~/Content/Images/b_spot_summer_fashion_uk.jpg")" alt="Summer Fashion. Shop Now." class="" loading="auto" style="margin-bottom: .5em;max-width: 100%;height: auto;-ms-interpolation-mode: bicubic;display: inline-block;vertical-align: middle;">
                        </div>
                    </a>
                </div>
            </div>
            <div class="layout-column large-6 medium-6 small-12">
                <div class="pl-clickable-image">
                    <a href="@Url.Action("heroes", "Products")">
                        <div class="responsive-image">
                            <img src="@Url.Content("~/Content/Images/b_spot_5_uk.jpg")" alt="United for Heroes T-Shirts. Shop Now." class="" loading="auto" style="margin-bottom: .5em;max-width: 100%;height: auto;-ms-interpolation-mode: bicubic;display: inline-block;vertical-align: middle;">
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="layout-row" style="display: flex;flex-wrap: wrap;max-width: 100em;margin: 0 auto;">
            <div class="pl-clickable-image">
                <a href="@Url.Action("product-details", "Products", new { name = "Manchester United Old Trafford Lego Stadium" })">
                    <div class="responsive-image">
                        <img src="@Url.Content("~/Content/Images/a_spot_gifts_&_accs_uk.jpg")" alt="Gifts &amp; Accessories. Shop Now." class="" loading="auto" style="width:100%">
                    </div>
                </a>
            </div>
        </div>

        @if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Products" && Request.Path == "/")
        {
            { RenderBody(); }
        }
        else
        {
            <style>
                .layout-row {
                    display: none !important;
                }
            </style>
            <div class="row panel" style="margin-left:0; margin-right:0; display:flex; margin-top:40px; flex-direction:column">
                <div class="rowContent" style="display:flex">
                    <div id="categories" class="col-xs-3">
                        <h3>Content will be added</h3>
                    </div>
                    <div class="render" style="display:flex; flex-direction:column">
                        @RenderBody()
                    </div>
                </div>
            </div>
        }
    </content>

    <footer class="footer">
        <div style="align-self:flex-end">
            <ul class="footerText">
                <li class="footerTextItem">
                    ©@DateTime.Now.Year Manchester United FC Ltd
                </li>
            </ul>
        </div>

        <div class="image" style="align-self:center">
            <img src=@Url.Content("~/Content/Images/ManU-fanatics.png") alt="" style="width:83px; height:83px" />
        </div>

        <div class="social" style="align-self:flex-end; margin-bottom:7px">
            <a href="https://www.twitter.com/ManUtd/" target="_blank"><img src=@Url.Content("~/Content/Images/twitter-24.png") alt="" /></a>
            <a href="https://www.instagram.com/manchesterunited/" target="_blank"><img src=@Url.Content("~/Content/Images/instagram-logo.png") alt="" style="height:24px; width:24px" /></a>
            <a href="https://www.facebook.com/manchesterunited" target="_blank"><img src=@Url.Content("~/Content/Images/facebook-24.png") alt="" /></a>
            <a href="https://www.youtube.com/manutd" target="_blank"><img src=@Url.Content("~/Content/Images/youtube.png") alt="" style="width:24px; height:24px" /></a>
            <a href="https://www.pinterest.com/manutd/" target="_blank"><img src=@Url.Content("~/Content/Images/pinterest-24.png") alt="" /></a>
        </div>
    </footer>
</body>
</html>
