@model Domain.Entities.Wear


    <div style="width:240px; display:flex; flex-direction:column; margin-bottom:15px">
        <div>
            <p style="font-weight:700; font-size:12px">@Model.Name</p>
        </div>


        <div>
            <span style="color:#b61c1c; padding-bottom:3.600px;align-self:flex-start; position:absolute; margin-top:5px; font-weight:700; font-size:14px">@Model.Price.ToString("# $")</span>
        </div>

        @using (Html.BeginForm("AddToBasket", "Basket", new { clothesID = Model.Article }))
        {
            <div class="pull-right" style="display:flex; flex-direction:column;position:absolute; margin-top:25px">
                @Html.HiddenFor(item => item.Article)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input class="basketImage" type="image" src=@Url.Content("~/Images/shoppingBasket.png") width="24" height="24" align="top" alt="Stop sign" style="outline:none;margin-top:5px">
            </div>
        }

        <div style="max-height:250px; max-width:215px">
                @{
                    var base64 = Convert.ToBase64String(Model.ClothesImages.ImageFile);
                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                }
                <img src="@imgSrc" style="max-height:250px; max-width:215px" />
        </div>
    </div>
